<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Choice1:</strong>
  <%= @question.choice1 %>
</p>

<p>
  <strong>Choice2:</strong>
  <%= @question.choice2 %>
</p>

<p>
  <strong>Choice3:</strong>
  <%= @question.choice3 %>
</p>

<p>
  <strong>Choice4:</strong>
  <%= @question.choice4 %>
</p>

<p>
  <strong>Correct answer:</strong>
  <%= @question.correct_answer %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
